build/
build-*/
cmake-build-*/
artifacts/
ckpts/
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.gguf
*.npy
__pycache__/
.pytest_cache/
build_*/
debug/
dist/
checkpoint/
checkpoints/
*.safetensors

# macOS resource forks
._*
.vscode/

local_*
